/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
img {
    width: 100%;
    display: block;
}


li {
    display: inline-block;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
}

.container {
    width: $main_container;
    margin: auto;
}

.wrapper {
    width: $wrapper;
    margin: auto;
}

.jumbotron, .row1-footer {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
}