/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    display: block;
}
li {
    display: inline-block;
    list-style-type: none;
}
a {
    text-decoration: none;
    color: $black;
}

/* STYLE */
.jumbotron, .row1-footer {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
}