/* MAIN homepage */
main.home {
    .bg-black {
        background-color: $main_bg;
        padding: 40px 0;
        margin: auto;

        .series  {
            margin-top: -67px;
            margin-bottom: 50px;
            width: fit-content;
            padding: 10px 25px;
            text-transform: uppercase;
            background-color: $main_color;
            border: unset;

            a { color: $white; }
        }
        
        .boxes {
            @include display_flex_centered;
            align-items: flex-start;
            flex-wrap: wrap;

            .single-box {
                width: calc(100% / 6);
                padding: 15px;
                margin-bottom: 20px;
                color: $white;

                .img-box {
                    height: 165px;
                    overflow: hidden;
                }
                h5 {
                    margin-top: 20px;
                    font-weight: normal;
                    text-transform: uppercase;
                }
            }
        }
        
        button {
            color: $white;
            text-transform: uppercase;
            padding: 10px 50px;
            background-color: $main_color;
            border: unset;
            cursor: pointer;
            display: flex;
            margin: auto;
        }
    }

    .contents {
        background-color: $main_color;
        padding: 35px 0;
        ul {
            @include display_flex_centered;
            justify-content: space-around;

            li a {
                @include display_flex_centered;

                .icon-img {
                    img {
                        height: 50px;
                        width: auto;
                    }
                }

                h5 {
                    color: $white;
                    margin-left: 10px;
                    text-transform: uppercase;
                    font-weight: normal;
                }
            }
        }
    }
}


/* MAIN single comic page */
main.comic-detail {

    .blue-raw {
        background-color: $main_color;
        height: 100px;

        .cover {
            position: relative;

            .img-cover {
                position: absolute;
                top: -245px;
                left: 0;
                width: 200px;
                border: 2px solid $white;

                .gallery {
                    color: $white;
                    text-transform: uppercase;
                    background-color: $gallery;
                    text-align: center;
                }
            }
        }
    }

    .description {
        padding: 60px 0;
        @include display_flex_centered;
        justify-content: space-between;
        align-items: flex-start;

        .col-left {
            width: 66%;

            h1 { margin-bottom: 20px }

            .details {
                background-color: $deatils;
                @include display_flex_centered;
                justify-content: space-between;
                
                .price {
                    width: 72%;

                    ul {
                        color: $price_details;
                        @include display_flex_centered;
                        justify-content: space-between;
                        padding: 10px 14px;
                        span { color: $white; }
                    }
                }

                .availability {
                    width: 28%;
                    color: $white;
                    text-align: center;
                    border-left: 1px solid $black;
                    padding: 10px;
                    padding-left: 10px;
                    
                    i { vertical-align: text-top; }
                }
            }

            .description-text {
                padding: 15px 0;
                p {
                    line-height: 1.6;
                    color: $gray;
                }
            }
        }
        
        .col-right {
            width: 30%;

            .adv {
                width: 270px;

                h4 {
                    text-align: right;
                    text-transform: uppercase;
                    padding-bottom: 5px;
                }
            }
        }
    }

    .talent-specs {
        background-color: $bg_light;
        border-top: 1px solid $gray;
        border-bottom: 1px solid $gray;

        .details {
            @include display_flex_centered;
            padding-top: 20px;
            
            .col-left-talent, .col-right-specs { width: 48%;}
        }
    }
}